/* App.css */
.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.logo {
  width: 300px; /* Adjust the width as needed */
  height: auto;
}

.box-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.box {
  width: 300px; /* Adjust the width as needed */
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.box:hover {
  background-color: #e0e0e0;
}

.box-content {
  text-align: center;
}

.active {
  background-color: #e0e0e0;
}
body {
  background-color: skyblue;
  margin: 0;
  padding: 0;
}
